<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <header>
        <h1>Buses</h1>
        <hr>
    </header>
    
    <section class="bus-container">
        <div class="bus-box">
            <img src="{{ url_for('static', filename='images/bus.jpeg') }}" alt="BCA Banner">
            <h2>Busses</h2>
            <h3> We have provided bus facility for student. We have Water purification facility in college.</h3>
           
        </div>

        
    </section>
</body>
</html>
